

.containerad {
    width: 450px;
    height:fit-content;
    margin: auto;
    text-align: center;
}

.userpost {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.userpost form {
    width: 600px;
    height: fit-content;
    background: #fff;
}

.userpost form input {
    width: 400px;
    height: 35px;
}

.uploaded:hover {
    background: rgb(0, 200, 150);
}

.uploaded {
    height: 30px;
    color: white;
    font-size: 20px;
    background: rgb(0, 150, 100);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#preview:hover {
    background: rgb(250, 0, 0);
}

#preview {
    height: 30px;
    color: white;
    font-size: 20px;
    background: rgb(200, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


